body{
	background-color:rgba(20,100,50,0.3);
}
/*h2{
	font-family: Georgia;
	text-decoration:none;*/
	
}
.sidebar{
	background-color:rgba(20,50,50,0.3);
}
.sidebar{
	background-color:rgba(20,50,50,0.3);
}
